*{
  margin: 0;
  padding: 0;
}

                              /*Home page Design*/
/* navigation style*/
.menu-nav{
  background: #5B7DB1;
}
.menubar{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5vh;
}
.brand {
  font-size: 40px;
font-weight: 500;
text-decoration: none;
color: white;
}
.menubar ui li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.menubar ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.menubar ul li:hover::after {
  width: 100%;
}
/*header style*/
.firstpage{
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

.firstpage p{
    color: white;
}


/* style for feature*/

#feature{
 padding: 5vw 8vw 0 8vw;
 text-align: center;
 margin-bottom: 40px;
 margin-top: : 20px;
 height: 65vh;
}
#feature h1{
  font-weight: bold;
}
#feature .fea-box{
 background: #F9F9FF;
 text-align: start;
 margin: 10px 10px 10px 10px
}
#feature .fea-base{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
 grid-gap: 1rem;
}
#feature .fea-box i{
 font-size: 2.3rem;
}
#feature .fea-box h3{
 font-size: 1.2rem;
 font-weight: 600;
 color: #5B7DB1;
 padding: 13px 0 7px 0;
 margin: 10px 10px 10px 10px;
}
#feature .fea-box p{
 font-size: 1rem;
 font-weight: 50;
 color: black;
 padding: 13px 0 7px 0;
}


/* style for course preview*/
.p-course{
  background-color: #EEEEEE;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

}
.p-course h1{
  text-align: center;
  font-weight: bold;
}
/* .p-course p{
  text-align: center;
} */
.content-course{
  background-color: #F9F9FF;
}
.updated{
  font-weight:300;
}

.star{
  color: orange;
}

/* footer Style */

.footer{
  magrgin: 60px 40px 60px 40px;
  padding: 60px 100px 60px 100px;
  background-color: #5B7DB1;
}
.footer h3{
  color: white;
}
.footer p{
  color: white;
}
.footer h4{
  color: white;
  text-style: light;
}
.text-muted{
  color: white;
}
.footer input{
  color: white;
  border: none: !important;
}
.footer input::placeholder{
  color: white;
}
